@import "tailwindcss";

:root {
  --background: #fcf6e4;
  --surface-primary: #2a6354;
  --primary: #b4e251;
  --accent: #ff8b71;
}

::-webkit-scrollbar {
  display: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface-primary: var(--surface-primary);
  --color-primary: var(--primary);
  --color-accent: var(--accent);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-surface-primary);
  font-family: Arial, Helvetica, sans-serif;
}
